Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/

.vs/
.vscode/
.idea/
*.xcworkspace
*.xcodeproj

*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.user
*.userosscache

Plugins/**/Binaries/
Plugins/**/Intermediate/

.DS_Store
